/* GLOBAL APPLICATION STYLES */
/* 
    Here we have the styles that all elements will share: text, buttons, etc.
    All the buttons in the app have to be with the same color, font, effects and padding.
*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

body,
html {
  font-family: "Ubuntu Sans", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {
  font-size: 40px;
  line-height: 44px;
  font-family: "Ubuntu Sans", sans-serif;
}

h2 {
  font-size: 32px;
  line-height: 36px;
  font-family: "Ubuntu Sans", sans-serif;
}

h3 {
  font-size: 28px;
  line-height: 32px;
  font-family: "Ubuntu Sans", sans-serif;
}

p {
  font-size: 14px;
  line-height: 18px;
}
td,
th {
  font-size: 16px;
  line-height: 20px;
  font-family: "Ubuntu Sans", sans-serif;
}

button {
  padding: 10px 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  background-color: #be7acc;
  font-family: "Ubuntu Sans", sans-serif;
}

button:hover {
  background-color: lightblue;
}

/* Menu + */
.plus-menu {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #be7acc;
  color: white;
  font-size: 28px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.plus-menu:hover {
  background-color: #82eefa;
}

.speed-dial {
  position: fixed;
  bottom: 90px;
  right: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.speed-dial.active {
  opacity: 1;
  pointer-events: all;
}

.speed-dial-item {
  background-color: #be7acc;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.speed-dial-item:hover {
  background-color: #82eefa;
}

/* MODAL WITH FORM: STYLES */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Ubuntu Sans", sans-serif;
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  font-size: 1px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  color: darkslategray;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  color: darkslategray;
  font-family: "Ubuntu Sans", sans-serif;
}

/* Estilos para inputs */
input[type="text"],
input[type="password"],
input[type="date"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  background-color: transparent;
  font-family: "Ubuntu Sans", sans-serif;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  border-bottom-color: #be7acc;
  outline: none;
  font-family: "Ubuntu Sans", sans-serif;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  outline: none;
}

.execute-button {
  width: 100%;
  padding: 10px;
  background-color: #82eefa;
  color: darkslategray;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Ubuntu Sans", sans-serif;
}

.execute-button:hover {
  background-color: #031222;
  color: #fff;
}

.action-button {
  border: none;
  background: transparent;
  border-radius: 50px;
  width: fit-content;
  padding: 10px;
}

.action-button:hover {
  background: transparent;
  cursor: pointer;
}

.feedback {
  margin-top: 10px;
}

.feedback p {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  font-size: 8px !important;
  font-family: "Ubuntu Sans", sans-serif;
}

/* TABLE STYLES */

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  border: 0.5px solid #ddd;
  padding: 5px;
  text-align: left;
  font-family: "Ubuntu Sans", sans-serif;
}

tr:hover {
  background-color: lightgrey;
  cursor: pointer;
}

th {
  background-color: #f2f2f2;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
  margin-right: 10px;
}

.search-button {
  font-size: 1.5em;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ANIMATED BACKGROUND */
* {
  margin: 0px;
  padding: 0px;
}

.area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #be7acc, #82eefa);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.logo {
  margin: 0.5rem;
  text-align: center;
}