.container {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 25%;
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
}

.main-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.info-label {
  font-weight: 700;
  text-transform: uppercase;
}

.info-detail {
  text-transform: capitalize;
}

#studentInfo {
  margin: 10%;
}

tr:hover {
  background-color: white !important;
  cursor: auto !important;
}

