body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  width: 35%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#errorMessage {
  color: red;
}

@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}

.logo-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0.5rem;
}